<hr class="featurette-divider mx-5 text-light">
<div class="container-fluid">
  <div class="row text-center px-3 align-items-center">
    <div class="col-2 ">
      <%= link_to ('<i class="fa fa-arrow-left"></i>').html_safe, root_path, class:"mx-5 text-warning fs-1 align-items-start "%>
    </div>
    <div class="col-8">
      <h2 class="text-warning">SOCIAL HANDLES</h2>
    </div>
    <div class="col-2">
      <img src="<%=asset_path('social-media.png')%>" style= "width: 60px; height: 60px; border-radius: 20  %;" >
    </div>
  </div>
</div>
<hr class="featurette-divider mx-5 text-light">

<div class="container-fluid bg-dark rounded-3" style="width: 94%;">
  <div class="row text-center px-3 align-items-center d-flex justify-content-center shadow-lg">
    <div class="col-12 ">
      <h2 class="text-white my-4 fs-1">Feel Free To Connect With Me </h2>
      <hr class="featurette-divider mx-5 text-dark">
        <div class="container marketing mb-5">
          <div class="row text-center">
            <% @social_handles.each do |sh|%>
              <div class="col-lg-4 my-5">
                <%= image_tag(sh&.image_url, alt: "image",class:"bd-placeholder-img rounded-circle", style: "width: 180px; height: 180px;") %>
                <h2 class="text-warning"><%= sh.name %></h2>
                <p class="text-white"><%= truncate(strip_tags(sh.about),length: 120) %></p>
                <%= link_to "View Profile »", sh.profile_url_was, class: "btn bg-warning d-grid gap-2 d-md-block text-dark fs-4" %>
              </div><!-- /.col-lg-4 -->
            <%end%>
          </div>
        </div>
    </div>    
  </div>
</div>

<%#= link_to 'New Social Handle', new_social_handle_path %>
