<div class="container-fluid my-3 shadow-lg "style="background-color: rgba(255,99,98,255);">
  <div class="row text-center px-3 align-items-center py-3">
    <div class="col-2 ">
      <%= link_to ('<i class="fa fa-arrow-left"></i>').html_safe, root_path, class:"mx-5 text-white fs-1 align-items-start "%>
    </div>
    <div class="col-8">
      <h2 class="text-white">ABOUT ME</h2>
    </div>
    <div class="col-2">
      <img src="<%=asset_path('logopic.jpg')%>" style= "width: 60px; height: 60px; border-radius: 50%;" >
    </div>
  </div>
</div>

<div class="container-fluid d-flex justify-content-center my-5 text-center border shadow-lg" style="width: 95%;">
  <div class="row text-center align-items-center">
    <div class="col">
      <div class="card my-5 m-3" style="width: 18rem; background-color: #96be25;">
        <div class="card-body">
          <h5 class="card-title text-white">Personal Bio</h5>
          <p class="card-text">My Name Is SOURAV RAJPUT a Web Developer From Delhi,India! Read More Click On View. </p>
          <%= link_to "View »", home_about_path, class: "btn btn-outline-light d-grid gap-2 d-md-block" %>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card my-5 m-3 " style="width: 18rem;">
        <div class="card-body">
          <div class="card-body">
            <div class="card-body">
              <h5 class="card-title">Qualifications</h5>
              <p class="card-text">Here! You Can Check My Qualifications and Job Experience Read More Click On View.</p>
              <%= link_to "View »", home_about_path, class: "btn btn-outline d-grid gap-2 d-md-block text-white", style:"background-color: rgba(255,99,98,255);"%>
            </div>  
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card my-5 m-3" style="width: 18rem; background-color: #96be25;">
        <div class="card-body">
          <h5 class="card-title text-white">Connect Wtih Me</h5>
          <p class="card-text">Hey Buddy! If you wanna Connect with me just Click On View and Choose One to Reach me. </p>
          <%= link_to "View »", social_handles_path, class: "btn btn-outline-light d-grid gap-2 d-md-block" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid my-3 shadow-lg ">
  <div class="row text-center px-3 align-items-center py-3">
    <div class="col-12 ">
      <h1 class="text-dark text-center">|Web Developer|</h1>
     <hr class="featurette-divider mx-5 text-dark">
        <div class="container my-3 rounded-4 shadow-lg" style="background-color: rgba(255,99,98,255);">
          <div class="row text-center px-3 align-items-center py-3">
            <div class="col-12 ">
              <h4 class="featurette-heading text-light fs-3 fw-bold my-3">Front End Developer From Delhi, India!</h4>
              <hr class="featurette-divider mx-5 text-dark">
                  <h5 class="lead fs-3 fst-italic my-5">
                    Experienced software developer with a passion for developing innovative programs that
                    expedite the  efficiency and effectiveness of organizational success. Well-versed in
                    technology and writing code to create applications that are reliable and user-friendly.
                    Skilled leader who has the proven ability to motivate, educate, and manage a team of
                    professionals to build applications with quality. Confident communicator, strategic thinker,
                    and innovative creator to develop software that is customized to meet a company’s organizational
                    needs, and further their success.
                  </h5>
            </div>
          </div>
        </div>
      <hr class="featurette-divider mx-5 text-dark">
    </div>
  </div>
</div>

<div class="container border shadow-lg">
  <div class="row text-center justify-content-center">
    <div class="col-11">
      <h1 class="mb-2 mt-5">More Things To Explore</h1>
      <!-- <p class="mb-9 lead">
          Our focus is always on finding the best people to work with. Our bar is  <br>
                high, but you look ready to take on the challenge.
      </p> -->
      <hr class="featurette-divider mx-5 text-dark">
        <div class="row mt-5">
          <div class="col-6">
            <div class="card" style="width: 100%; background-color: White;">
              <div class="card-body">
                <h5 class="card-title text-dark">Softwares I Use</h5>
                <p class="card-text text-dark">Software Is Most !Important Thing To Develop Any Site 
                !Check The Softwares Which I Using Currently For Develop A Website</p>
                <%= link_to "View »", softwares_path, class: "btn btn-outline d-grid gap-2 d-md-block",style:"background-color: rgba(255,99,98,255);" %>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="card" style="width: 100%; background-color: white;">
              <div class="card-body">
                <h5 class="card-title text-dark">Success!</h5>
                <p class="card-text text-dar"style="color: rgba(255,99,98,255);">Always Fight With Your Bad Time OR Fear, To Get Success! "The Greatest barrier To Success Is The Fear Of Failure."</p>
                <%#= link_to "View »", home_about_path, class: "btn btn-outline d-grid gap-2 d-md-block",style:"background-color: rgba(255,99,98,255);" %>
              </div>
            </div>
          </div>
          <div class="col-12 mt-1">
            <div class="card" style="width: 100%; background-color: rgba(255,99,98,255);">
              <div class="card-body">
                <h5 class="card-title text-white">Coming Soon..</h5>
                <p class="card-text">Some Content Will Coming Soon About Me Stay Tuned!.</p>
                <%= link_to "View »", home_about_path, class: "btn btn-outline d-grid gap-2 d-md-block", style:"background-color: white;" %>
              </div>
            </div>
          </div>
      </div>

      <div class="row mt-3">
          <div class="col-6">
            <div class="card" style="width: 100%; background-color: white;">
              <div class="card-body">
                <h5 class="card-title text-dark">Coming Soon..</h5>
                <p class="card-text text-dar">Some Content Will Coming Soon About Me Stay Tuned!.</p>
                <%= link_to "View »", home_about_path, class: "btn btn-outline d-grid gap-2 d-md-block",style:"background-color: rgba(255,99,98,255);" %>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="card" style="width: 100%; background-color: white;">
              <div class="card-body">
                <h5 class="card-title text-dark">Coming Soon..</h5>
                <p class="card-text text-dar">Some Content Will Coming Soon About Me Stay Tuned!.</p>
                <%= link_to "View »", home_about_path, class: "btn btn-outline d-grid gap-2 d-md-block",style:"background-color: rgba(255,99,98,255);" %>
              </div>
            </div>
          </div>
          <div class="col-12 mt-1 mb-5">
            <div class="card" style="width: 100%; background-color: rgba(255,99,98,255);">
              <div class="card-body">
                <h5 class="card-title text-white">Coming Soon..</h5>
                <p class="card-text">Some Content Will Coming Soon About Me Stay Tuned!.</p>
                <%= link_to "View »", home_about_path, class: "btn btn-outline d-grid gap-2 d-md-block", style:"background-color: white;" %>
              </div>
            </div>
          </div>
      </div>
      <hr class="featurette-divider mx-5 text-dark">
      <h5></h5>
    </div>
  </div>
</div>
