<div class="container-fluid my-3 shadow-lg "style="background-color: rgba(255,99,98,255);">
  <div class="row text-center px-3 align-items-center py-3">
    <div class="col-2 ">
      <%= link_to ('<i class="fa fa-arrow-left"></i>').html_safe, root_path, class:"mx-5 text-white fs-1 align-items-start "%>
    </div>
    <div class="col-8">
      <h2 class="text-white">SOFTWARES</h2>
    </div>
  </div>
</div>

<div class="container-fluid my-5 shadow-lg ">
  <div class="row text-center px-3 align-items-center d-flex justify-content-center">
    <div class="col-6 ">
      <h1>Enjoy To Use These Softwares</h1>
      <hr class="featurette-divider mx-5 text-dark">
      <p class="lead my-4">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
    </div>    
  </div>
</div>

<div class="container-fluid shadow-lg ">
  <div class="row text-center px-3 align-items-center d-flex justify-content-center shadow-lg">
    <div class="col-12 ">
      <hr class="featurette-divider mx-5 pt-5 text-dark">
        <div class="container marketing mb-5">
          <div class="row text-center">
            <% @softwares.each do |sh|%>
              <div class="col-lg-4 my-5">
                <% if sh.image.attached? %>
                    <%= image_tag sh.image,class:"bd-placeholder-img rounded-circle", style: "width: 180px; height: 180px;" %>
                  <%end%>
                <h2><%= sh.name %></h2>
                <p><%= truncate(strip_tags(sh.about),length: 120) %></p>
                <%= link_to "View »", software_path(sh.id), class: "btn btn-outline d-grid gap-2 d-md-block text-white fs-4",style:"background-color: rgba(255,99,98,255);" %>
              </div><!-- /.col-lg-4 -->
            <%end%>
          </div>
        </div>
      <hr class="featurette-divider mx-5 text-light">
    </div>    
  </div>
</div>

<%#= link_to 'New Software', new_software_path %>
